.hero-section {
    background-color: #ffd5c7;
    height: 910px;
    display: flex;
    align-content: center;
    text-align: center;
}

#name {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

#job-title {
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 576px) {
    
}