.about {
    background-color: #e2f1fe;
    height: 900px;
    display: flex;
    align-content: center;
    text-align: center;
}

@media (min-width: 576px) {
    .about {
        background-color: #e2f1fe;
        height: 800px;
        display: flex;
        align-content: center;
        text-align: center;
    }
}